#display {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    margin: 5px;
    text-align: end;
}

#upper-display {
    width: 100px;
    height: 25px;
    border-bottom: 2px solid black;
}